@media only screen and (max-width: 400px) {
  body {
    transform: scale(0.8);
  }
}




.center {
  margin: auto;
  width: 100%;
  padding: 0 auto;
  text-align: center;
}

.board {
  width: 400px;
  height: 400px;
  margin: 5px;
  box-sizing: border-box;
}

.top-panel {
  height: 80px;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.circle {
  background-color: white;
  border-radius: 5px;
  width: 8px;
  margin: 2px auto;
  box-sizing: content-box;
}

.circle:before{
  content: "";
  display: block;
  padding-top: 100%;
}

#pacman, #ghost {
  width: 15px;
  height: 15px;
  margin: 0;
  box-sizing: border-box;
}


#pacman-image, #ghost-image {
  width: 15px;
  height: 15px;
  margin-bottom: 30px;
}

#pacman-image {
  margin-left: 4px;
}

.buttons {
  margin-top: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
}

#new-game {
  margin-right: 20px;
}

#new-game, #instructions-button {
  background: #eee;
}

.game-div {
  float: left;
}

.level-and-score {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.score-board {
  margin-top: 10px;
}

h1 {
  font-size: 5em;
  color: yellow;
}

p {
  font-size: 2em;
}

p, li, h3 {
  color: #eee;
}

button, li {
  font-size: 1.5em;
}

li {
  text-align: left;
}

#instructions {
  width: 600px;
}

.divy {
  height: 385px;
  width: 20px;
  background-color: black;
}

#horizontal {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.left {
  border-right: solid 5px rgb(255, 184, 151);
}

.right {
  border-left: solid 5px rgb(255, 184, 151);
}

.left, .right {
  height: 100px;
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-small {
  border-right: solid 5px black;
}

.right-small {
  border-left: solid 5px black;
}

.left-small, .right-small {
  height: 20px;
}

.left-middle {
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-middle, .right-middle {
  height: 180px;
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-bottom, .right-bottom {
  height: 90px;
}

.left-middle, .left-bottom {
  border-right: solid 5px rgb(255, 184, 151);
  border-top: solid 5px rgb(255, 184, 151);
}

.right-middle, .right-bottom {
  border-left: solid 5px rgb(255, 184, 151);
  border-top: solid 5px rgb(255, 184, 151);
}

.top, .bottom {
  height: 20px;
  width: 420px;
  background-color: black;
}

#vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.top {
  border-bottom: solid 5px rgb(255, 184, 151);
}
.bottom {
  border-top: solid 5px rgb(255, 184, 151);
}

#cherry {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.level-and-score p {
  margin-top: 30px;
}

#highest {
  margin-bottom: 50px;
}

html, body {
  padding: 0;
  margin: 0;
  background: black;
}

.btn:focus {
  outline: none;
}

/*Code below was adopted and modified from https://codepen.io/Octavector/pen/yNoypb*/
#game-over, #level-up, #you-win {
  font-size: 8em;
  text-align: center;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#level-up {
  margin-left: 10px;
}

#start-div {
  margin-top: 10px;
  height: 10px;
}

#start-text {
  width: 500px;
}

@keyframes example {
  0% {
    color: lime;
    text-shadow: 0 0 20px green;
  }
  25% {
    color: green;
    text-shadow: 2px 2px 2px lime;
    transform: translate(-2px, 1px);
  }
  40% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: green;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    transform: translate(0px, 5px);
  }
  70% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: lime;
    text-shadow: 0 0 20px green;
    transform: translate(-2px, 1px);
  }
  100% {
    color: lime;
    text-shadow: none;
  }
}
