.board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 0;
  box-sizing: content-box;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.circle {
  background-color: white;
  border-radius: 50%;
  width: 50%;
  margin: 25% auto;
}

.circle:before{
  content: "";
  display: block;
  padding-top: 100%;
}

#pacman, #ghost {
  width: 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
}


img {
  width: 16px;
  height: 16px;
  margin-bottom: 30px;
  margin-right: 4px;
}

.buttons {
  margin-bottom: 20px;
}

.game-div {
  float: left;
}

#instructions {
  margin-left: 10%;
}

.score-board .level-and-score {
  float: left;
}

.score-board {
  margin-top: 10px;
}

#highest {
  margin-left: 60px;
}

h1 {
  font-size: 5em;
  color: yellow;
}

p {
  font-size: 2em;
}

p, li, h3 {
  color: #eee;
}

button, li {
  font-size: 1.5em;
}

body {
  background-color: black;
}

.board {
  border: solid 2px white;
}
