.board {
  width: 400px;
  height: 400px;
  margin: 5px;
  box-sizing: border-box;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.circle {
  background-color: white;
  border-radius: 5px;
  width: 8px;
  margin: 2px auto;
  box-sizing: content-box;
}

.circle:before{
  content: "";
  display: block;
  padding-top: 100%;
}

#pacman, #ghost {
  width: 15px;
  height: 15px;
  margin: 0;
  box-sizing: border-box;
}


img {
  width: 15px;
  height: 15px;
  margin-bottom: 30px;
}

#pacman-image {
  margin-left: 4px;
}

.buttons {
  margin-bottom: 20px;
}

.game-div {
  float: left;
}

#instructions {
  margin-left: 10%;
}

.score-board .level-and-score {
  float: left;
}

.score-board {
  margin-top: 10px;
}

#highest {
  margin-left: 60px;
}

h1 {
  font-size: 5em;
  color: yellow;
}

p {
  font-size: 2em;
}

p, li, h3 {
  color: #eee;
}

button, li {
  font-size: 1.5em;
}

body {
  background-color: black;
}

.divy {
  height: 385px;
  width: 20px;
  background-color: black;
}

#horizontal {
  display: flex;
  flex-direction: row;
}

.left {
  border-right: solid 5px rgb(255, 184, 151);
}

.right {
  border-left: solid 5px rgb(255, 184, 151);
}

.left, .right {
  height: 100px;
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-small {
  border-right: solid 5px black;
}

.right-small {
  border-left: solid 5px black;
}

.left-small, .right-small {
  height: 20px;
}

.left-middle {
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-middle, .right-middle {
  height: 180px;
  border-bottom: solid 5px rgb(255, 184, 151);
}

.left-bottom, .right-bottom {
  height: 90px;
}

.left-middle, .left-bottom {
  border-right: solid 5px rgb(255, 184, 151);
  border-top: solid 5px rgb(255, 184, 151);
}

.right-middle, .right-bottom {
  border-left: solid 5px rgb(255, 184, 151);
  border-top: solid 5px rgb(255, 184, 151);
}

.top, .bottom {
  margin-left: 15px;
  height: 20px;
  width: 420px;
  background-color: black;
}

#vertical {
  display: flex;
  flex-direction: column;
}

.top {
  border-bottom: solid 5px rgb(255, 184, 151);
}
.bottom {
  border-top: solid 5px rgb(255, 184, 151);
}
