.board {
  width: 400px;
  height: 400px;
  margin: 5px;
  box-sizing: border-box;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.circle {
  background-color: white;
  border-radius: 5px;
  width: 8px;
  margin: 2px auto;
  box-sizing: border-box;
}

.circle:before{
  content: "";
  display: block;
  padding-top: 100%;
}

#pacman, #ghost {
  width: 20px;
  height: 20px;
  margin: 0;
  box-sizing: border-box;
}


img {
  width: 16px;
  height: 16px;
  margin-bottom: 30px;
  margin-right: 4px;
}

.buttons {
  margin-bottom: 20px;
}

.game-div {
  float: left;
}

#instructions {
  margin-left: 10%;
}

.score-board .level-and-score {
  float: left;
}

.score-board {
  margin-top: 10px;
}

#highest {
  margin-left: 60px;
}

h1 {
  font-size: 5em;
  color: yellow;
}

p {
  font-size: 2em;
}

p, li, h3 {
  color: #eee;
}

button, li {
  font-size: 1.5em;
}

body {
  background-color: black;
}

.row0 {
  border-top: solid 5px rgb(255, 184, 151);
}

.row19 {
  border-bottom: solid 5px rgb(255, 184, 151);
}
